@charset "utf-8";
/* CSS 格式书写开发人员约束规范 

1.所有CSS属性，除了空属性可以单行之外，即使只有一个属性，也必须换行,但是后期发布版本压缩什么的请随意压缩。
2.所有缩进都用 TAB， 而不是空格。

3.绑定到HTML元素的CSS属性，除非经过深思熟虑，排除后期污染到其它HTML标签属性，不然一律通过CLASS或者ID来写CSS 
	例如：  
		a {xxxx},  
		div{xxxx}, 
		li {xxxx}, 
		span {xxxx} 这种全局通用HTML标签样式是禁止书写。


4.禁止样式过多嵌套，尽量不要超过3层
	例如：
		.a {xxx}
		.a .b {xxx}
		.a .b .c {xxxx}


5.不要滥用缩写去耍帅,省了几个字节会造成后面维护人员很大麻烦
	例如:font:12px/20px "simsun"


*/

html{
	min-width: 1000px;
}
html.ie7 {
	overflow: auto;
}
.domnoscroll {
	overflow: hidden !important;
}
.app_wrap {
	background: url(../images/app-index-bg.jpg) center top no-repeat #12355c;
}
.app_width {
	width: 1002px;
	margin: 0 auto;
}
.app_containt {}
.app_footer {
	background: #ececeb;
}
.app-foot-ads {
	background-color: #bc8810;
}
.app-foot-ads .app_width {
	background-color: #f6ab00;
	position:relative;
}
.app-foot-ads .app_width .house {
	width: 257px;
	height: 184px;
	background:url(../images/house.png) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	position:absolute;
	left: 0;
	bottom: 0;
}
.app-foot-ads .app_width .innertext {
	padding-left: 322px;
}
.app-foot-ads .addcompany {
	float: left;
	width:20%;
	display: block;
	text-decoration: none;
}
.app-foot-ads .addcompany:hover {
	background-color: #ffc42d;
}
.app-foot-ads .addcomPic {
	height: 70px;
	display: block;
	margin: 10px 10px 0 10px;
	background-position:center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.addcom-wrap {
	padding-top: 20px;
	padding-bottom: 90px;
}

.addcom-wrap .addcom {
	background-color: #1d3d64;
	border: dashed 1px #2a71a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 24px;
	padding: 20px;
	color: #2a71a2;
}
.addcom-wrap .addcom:hover {
	color:#fff;
	border-color: #fff;
	background-color: #2a71a2;
}

.addcom-wrap .addcom-adding {
	color: #000;
	border: dashed 1px #fff;
	background-color: #C4E7FF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
}
table.addaddadd { width: 100%;
	margin-top: 10px;
}
table.addaddadd .addtext  th,
table.addaddadd .addtext  td {
	padding: 4px 0;
}
table.addaddadd .addtext  th {width: 10px; white-space:nowrap; word-break:keep-all;padding:4px 20px; font-size: 14px; text-align: right; vertical-align: top; line-height: 32px;}
table.addaddadd .addtext select,
table.addaddadd .addtext input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 8px;
	height: 32px;
	line-height:normal;
	font-size: 12px;
	min-width: 400px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	background:#FFFFFF;
	border:solid 1px #00697F;
}
table.addaddadd .addtext select {
	padding-right: 0;
}
table.addaddadd .addtext .error {
	color:#CF0003;
	line-height: 1.8;
	font-size: 12px;
}
table.addaddadd .addtext {} 
table.addaddadd .addtext {} 
table.addaddadd .addtext {} 
table.addaddadd .addcontor td {
	padding-top: 4px;
}
table.addaddadd .addcontor input.qr,
table.addaddadd .addcontor input.qx {
	min-width: 195px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32px;
	color: #fff;
	font-size: 14px;
	border:0;
	margin-right: 10px;
	cursor: pointer;
	border-radius:3px;
}
table.addaddadd .addcontor input.qr {
	background-color: #1b9d9f;
}
table.addaddadd .addcontor input.qx {
	background-color: #a4a4a4;
}
.app-foot-ads .addcomText {
	font-size: 12px;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 1.8;
}
.aflist_wrap {
	padding: 10px 0;
}
.aflist {
	width:1002px;
	margin: 0 auto;
}
.aflist a {
	text-decoration: none;
	font-size: 12px;
	line-height: normal;
	color: #727171;
	line-height: 22px;
}
.aflist a:hover {
	color: #000;
}
.aflist_col td {
	vertical-align: top;
	padding:  0 32px;
	text-align: left;
	border-left: dashed 1px #b5b5b6;
}
.aflist_col img.callimg {
	vertical-align: middle;
	width: 254px;
	height: 83px;
}
.aflist_col a.callimg {
	vertical-align: middle;
	line-height: normal;
}
.aflist_col td.callimg {
	vertical-align: middle;
}
.aflist_col td:first-child {
	border-left: none;
}
.aflist_cpr {
	padding: 10px 0;
	width: 1002px;
	overflow: auto;
	margin: 0 auto;
}
.aflist_cpr p a:hover{
	color: #000;
}
.aflist_cpr p a{
	color: #a7a7a7;
	text-decoration: none;
}
.aflist_cpr p {
	line-height: 30px;
	vertical-align: middle;
	font-size: 12px;
	color: #a7a7a7;
}
.linkcp {
	float: left;
	margin-right: 10px;
}
.linkcp img {
	height: 30px;
	vertical-align: top;
}
.app_head {
	height: 66px;
	position:relative;
	z-index:1000;
}
.app_head_left {
	float: left;
	height: 100%;
}
.app_head_logo {
	float: left;
	display: block;
	height: 66px;
	width: 100px;
	background: url(../images/app-logo.png) center center no-repeat;
}
.app_head_logo img {
margin:10px 0 0 10px

}



.app_switch_local {
	line-height: 66px;
	font-size: 12px;
	padding-left: 24px;
	float: left;
}
.app_switch_local .appLocaction {
	color: #fffbc7;
}
.app_switch_local .appLocactionSwitch {
	color: #f6ab00;
	cursor: pointer;
}
.app_head_right {
	float: right;
	height: 22px;
	padding-top: 22px;
}

.app_head_right a{ color:#fff; text-decoration:none;}
.app_head_right a:hover{color:#fff;}


.app_head_right .app_r_item {
	float: right;
	margin-left: 20px;
	/*height: 66px;*/
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #fff;
}

.app_r_item .awp {
	display: inline-block;
	height: 100%;
}
.app_head_right .app_r_item,
.app_r_item .awp  {
	cursor: pointer;
	background: url(../images/object-select.png) left 200px no-repeat;
}
.app_head_right .app_r_item {
	
	padding-right: 12px;
}
.app_r_item .awp {
	padding-left: 12px;
}

.app_head_right .cur,
.app_head_right .app_r_item:hover {
	background-position: right bottom;
}
.cur .awp,
.app_r_item:hover .awp {
	background-position: left top;
}


.app_content {
	
}

.app_con_layouts {
	
}

.app_clt {
	height: 48px;
}
.app_clt .app_clt_topR,
.app_clt .app_clt_topL {
	height: 100%;
	background: url(../images/app-conten-top.png) left top no-repeat;
}

.app_login.app_clt .app_clt_topR,
.app_login.app_clt .app_clt_topL {
	height: 100%;
	background: url(../images/app-login-conten-top.png) left top no-repeat;
}

.app_clt .app_clt_topR,
.app_login.app_clt .app_clt_topR {
	background-position: right bottom;
	padding-right: 10px;
}
.app_clt .app_clt_topL {
	background-position: left top;
	padding-left: 10px;
}

.con_tool_bar_searchBar {
	float: right;
	margin-top: 10px;
}
.ie7 .app_clt_topL {
	position: relative;
}
.ie7 .con_tool_bar_searchBar {
	position: absolute;
	top: 10px;
	margin-top: 0;
	right: 10px;
	z-index: 0;
	overflow: visible;
}
.con_tool_bar_searchBar,
.con_tool_bar_searchBar .searchBarL{
	background: url(../images/object-search-bg.png) left top no-repeat;
	height: 28px;
}
.con_tool_bar_searchBar{
	background-position: right bottom;
	padding-right: 28px;
}
.con_tool_bar_searchBar .searchBarL{
	float: right;
	background-position: left top;
	padding-left: 12px;
}
.searchBarL .sbBtn {
	border: 0;
	padding: 0;
	margin: 0;
	width: 28px;
	margin-right: -28px;
	height: 28px;
	background: none;
	float: left;
	*overflow: visible;
	cursor: pointer;
}
.searchBarL .sbInp {
	float: left;
	border: 0;
	padding: 0;
	margin: 0;
	width: 128px;
	height: 28px;
	background: none;
	*overflow: visible;
}

.ie7 .searchBarL .sbInp,
.ie8 .searchBarL .sbInp {
	line-height: 28px;
}

.ie7 .searchBarL .sbInp
.ie7 .searchBarL .sbBtn {
	float: none;
	display: inline-block;
}


.con_tool_bar_icon,
.con_tool_bar_localTotal,
.con_tool_bar_local,
.con_tool_bar_localChange {
	display: inline;
	line-height: 48px;
	font-size: 14px;
	color: #fff;
	vertical-align: middle;
}


.ie7 .con_tool_bar_icon,
.ie7 .con_tool_bar_localTotal,
.ie7 .con_tool_bar_local,
.ie7 .con_tool_bar_localChange {
	position: relative;
	z-index: 1;
}

.con_tool_bar_icon {
	padding-right: 4px;
}
.con_tool_bar_icon img {
	vertical-align: middle;
	height: 20px;
}

.con_tool_bar_localTotal {
	padding-right: 10px;
	margin-right: 10px;
	border-right: solid 1px #fff;
}

.con_tool_bar_local {
	margin-right: 10px;
}

.con_tool_bar_localChange {
	color: #f6ab00;
	cursor: pointer;
}
.app_box {
	background: #fff;
}
.app_login_box {
	background: #d3edfb;
}
.app-slideshow-wrap {
	overflow: auto;
}
.app-slideshow {
	width: 982px;
	height: 250px;
	margin: 10px 10px 0;
	position: relative;
}
.app-slideshow .slideshow-items{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.app-slideshow .slideshow-img{
	width: 100%;
	height: 100%;
}
.app-slideshow-paper {
	background: url(../images/banner-shadow.jpg) repeat-x left top;
	overflow: auto;
	text-align: right;
	font-size: 0;
	line-height: 0;
	padding: 10px 0;
	margin: 0 10px;
	height: 10px;
}
.app-slideshow-paper span {
	margin-right: 12px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/side-show-pager-bg.png) left top no-repeat;
	cursor: pointer;
	vertical-align: top;
}
.app-slideshow-paper span.cycle-pager-active {
	background-position: left bottom;
}
/*.app-slideshow .{}*/  

/*app-site*/
.app_site{
	position:fixed; bottom:200px; left:50%; 
	margin-left:503px; 
	width:62px; height:260px;
}
.app_site_btn{
	display:block; 
	width:42px; height:42px; margin:0 0 2px; background:#1d71b9; 
	font:14px/40px 'microsoft yahei'; color:#fff; text-align:center; 
	text-decoration:none; 
}
.img-qrcode{
	display:inline-block; 
	width:42px; height:42px; 
	background:url(../images/app-ewcode.png) no-repeat center center; 
}
.img-serico{
	display:inline-block; 
	width:42px; height:42px; 
	background:url(../images/app-serviceico.png) no-repeat center center; 
}
.app_site_btn-backtop{
	display:block; width:42px; height:32px; 
	background:#36a9e0 url(../images/backtop.png) no-repeat center center; 
	cursor:pointer;
}


/**/
.app_login_container{height:680px; padding-top:70px;}
.app_login_img{ 
	width:677px; 
	height:571px; 
	background:url(../images/app-login-pic.png) no-repeat 0 0;
}
.app_login_form{
	float:right; 
	width:255px; 
	height:auto; 
	padding-left:30px; 
	margin-top:90px; 
	border-left:1px dashed #728087;
}

.app_login_form_group{width:100%;}
.app-login-formbg{
	background-image:url(../images/app-login-form.png); 
	background-repeat:no-repeat;
	background-position:-104px 0;
	display:inline-block; 
	width:100px; 
	height:32px; 
	padding-right:4px;
	padding-bottom:20px; 
	font:700 14px/32px 'microsoft yahei'; 
	color:#fff; 
	text-align:center; 
	text-decoration:none;
}
.app-login-formbg.btn-current{
	background-position:0 0;
}
.app-login-submit{
	display:inline-block; 
	width:206px; 
	height:32px; 
	margin-top:10px;
	background:url(../images/app-login-form.png) no-repeat 0px -237px;
	border:none;
	font:700 14px/32px 'microsoft yahei'; 
	color:#fff; 
	text-align:center; 
	text-decoration:none;
	cursor:pointer;
}

.app-login-input{
	display:inline-block;
	width:190px;
	height:32px;
	padding:0 8px 5px;
	border:none;
	background:url(../images/app-login-form.png) no-repeat 0 -63px;
	font:14px/32px 'microsoft yahei'; 
	color:#5d5d5d;
}
.app-login-identify{
	float:left;
	display:inline-block;
	width:50px;
	height:26px;
	padding:0 7px 5px;
	margin-right:3px;
	border:none;
	background:url(../images/app-login-form.png) no-repeat 0 -179px;
	font:12px/26px 'microsoft yahei'; 
	color:#5d5d5d;
}
.app-login-identifycode{
	float:left;
	display:inline-block;
	width:64px;
	height:26px;
	padding:0 0 5px;
	margin-right:6px;
	border:none;
	background:url(../images/app-login-form.png) no-repeat -67px -179px;
	text-align:center;
	vertical-align:middle;
	line-height:26px;
}
.app-login-code-purge{
	float:left;
	font:12px/26px 'microsoft yahei'; 
	color:#878787;
	cursor:pointer;
}

.app-login-label,
.app-login-label-check{
	display:inline-block;
	width:100%;
	font-size:14px; 
	line-height:24px;
	font-family:'microsoft yahei'; 
	color:#0068b7;
}
.app-login-label-check{
	width:auto;
	font-size:12px;
}
.app-login-checkbox{
	display:inline-block;
	vertical-align:middle;
	line-height:24px;
}

.app_dialog_wrap{
	display:none; position:fixed; left:0; top:0; 
	width:100%; height:100%;  
	text-align:center; font-size:0;
	z-index:999;
}
.app_dialog_mask{
	left:0; top:0; position:absolute; 
	width:100%; height:100%; 
	filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; 
	background:#002b42; 
}
.app_dialog_content{
	position:absolute; top:50%; left:50%; 
	width:500px; height:400px; margin-left:-250px; margin-top:-200px; 
	z-index:10;
}
.app_dialog_text{
	padding-top:30px; padding-bottom:20px; 
	font:22px/36px 'microsoft yahei'; color:#fff; 
	text-align:center;
}
.app_dialog_text>em{
	font-weight:bold; font-style:italic; font-size:26px;
}
.app_dialog_btn{
	display:inline-block; 
	width:138px; height:138px; margin:0 12px; 
	background-image:url(../images/app-dialog-circle.png); background-repeat:no-repeat; 
	font:46px/138px 'microsoft yahei'; color:#fff; text-decoration:none; 
	cursor:pointer; vertical-align:middle;
}
.app_dialog_btn.hide{
	display:none;
}
.app_dialog_btn.blue{
	background-position:0 0;
}
.app_dialog_btn.red{
	background-position:right 0;
}
.app_dialog_btn.blue span, 
.app_dialog_btn.red span{
	display:inline-block; 
	width:100%; height:100%; padding-top:65px; 
	font-size:14px; line-height:18px;
}
.app_dialog_btn.blue span{
	background:url(../images/app-dialog-ico01.png) no-repeat center 15px;
}
.app_dialog_btn.red span{ 
	padding-top:72px; background:url(../images/app-dialog-ico02.png) no-repeat 45px 8px;
}
.app_dialog_pic{
	width:420px; height:98px; margin:10px auto; 
	background:url(../images/app-dialog-pic.png) no-repeat 0 0;
}

.bcRows:before, 
.bcRows:after { content: ""; display: table; font-size:0 !important; line-height:0!important; height:0!important;}  
.bcRows:after { clear: both; }  
.bcRows { *zoom: 1; }
.bcRows {
	line-height: 20px;
	font-size: 12px;
	padding-bottom: 6px;
}


.breadCrumbs {
	padding: 0 10px;
}

.bcTitle {
	float: left;
	min-width: 80px;
	margin-right: -80px;
	color: #595757;
	font-size: 14px;
}

.bcText {
	overflow: hidden;
	padding-left: 80px;
}

.bcLinks {
	float: left;
	color: #727171;
	text-decoration: none;
	display: inline-block;
	padding-left: 14px;
	margin-left: 6px;
	background: url(../images/bc_splitLine.gif) left center no-repeat;
	*zoom:1;
	*word-break: keep-all;
}

.bcText-style2 .bcLinks {
	background-image: url(../images/bc_splitLine2.gif);
}


.bcLinks:first-child {
	background: none;
	padding: 0;
	margin: 0;
}
.bcText .cur,
.bcLinks:hover {
	color: #f4a62f;
}

.breadCrumbs2 {
	padding: 10px 0;
}
.breadCrumbs2 .bc2_el {
	float: left;
}
.bc2_Title {
	height: 27px;
	line-height: 27px;
	background: url(../images/bc2_title_bg.png) right center no-repeat;
	font-weight: bold;
	color: #fff;
	padding: 0 24px;
}

.bc2_cen,
.bc2_cen_inner {
	background: url(../images/bc2_cen_bg.png) left top no-repeat;
	height: 27px;
}
.bc2_cen {
	background-position: right bottom;
	padding-right: 12px;
}
.bc2_cen_inner {
	background-position: left top;
	padding-left: 14px;
	line-height: 27px;
}
.bc2_ckb {
	margin: -3px  3px 0 0px;
	padding: 0;
	vertical-align: middle;
	cursor: pointer;
}
.bc2_lab:first-child {
	margin-left: 0;
}
.bc2_lab {
	cursor: pointer;
	margin-top:  -3px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 27px;
	font-size: 12px;
}

.bc2_sel {
	vertical-align: middle;
	margin-top: -3px;
}
.bc2_last,
.bc2_last_inner {
	height: 27px;
	background: url(../images/bc2_last_bg.png) left top no-repeat;
}
.bc2_last_,
.bc2_last_inner_ {
	height: 27px;
	background: url(../images/bc2_last_bg_.png) left top no-repeat;
}

.bc2_last, .bc2_last_ {
	background-position: right bottom;
	padding-right: 10px;
}
.bc2_last_inner, .bc2_last_inner_ {
	background-position: left top;
	line-height: 27px;
	font-weight: bold;
	padding-left: 14px;
	font-size: 14px;
	color: #fff;
}

.box_list_wrap {
	padding: 0 5px;
}
.box_items {
	float: left;
	padding-bottom: 10px;
	width: 25%;
}
.favlist {
	padding: 0;	
}
.favlist .box_items {
	width: 33.33%;
}
.boxi_link {
	display: block;
	margin: 0 5px;
	border: solid 1px #ebebeb;
	height: 112px;
	text-decoration: none;
	-webkit-transition-property: box-shadow,border-color;
	transition-property: box-shadow,border-color;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-timing-function: cubic-bezier(0, .98, .58, 1);
	transition-timing-function: cubic-bezier(0, .98, .58, 1);
}
.boxi_link .delthis {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width:24px;
	height: 24px;
	background:#febc19;
	color: #fff;
	line-height: 24px;
	text-align: center;
}
.boxi_link:hover .delthis {
	display: block;
}
.boxi_link:hover {
	border-color: #febc19;
	box-shadow: 0 0 6px 0 #febc19;
	position: relative;
}
.boxi_link:hover .boxi_fav {
	display: block;
}
.boxi_fav {
	display: none;
	position: absolute;
	right: 0;
	bottom:0;
	width: 30px;
	height: 30px;
	background: url(../images/boxi-fav-icon.gif) right bottom no-repeat;
}
.boxi_img {
	width: 84px;
	height: 84px;
	margin: 5px;
	display: block;
	position: relative;
	float: left;
}
.boxi_img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 84px;
	height: 84px;
}
.boxi_title {
	display: block;
	margin-left: 94px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 24px;
	font-size: 16px;
	padding-top: 5px;
	color: #000;
}
.boxi_lv_proto {
	line-height: 20px;
	font-size: 12px;
	color: #565656;
}
.boxi_service {
	display: block;
	overflow: auto;
}
.boxi_service .box_service {
	float: left;
	margin-right: 4px;
	width: 28px;
	height: 14px;
}
.boxi_lv_proto img {
	display: inline-block;
	vertical-align: middle;
	height: 12px;
	margin-top: -3px;
}


.app_foodranking_order{
	float:left;
	width:140px;
	min-height:100px;	
}
.app_foodranking_list{
	float:right;
	width:82.5%;
}
.app_foodranking_list .box_items{
	width:33.333333%;
}

.app_foodranking_order .bc2_Title {
	margin-top:10px;
	height: 27px;
	line-height: 27px;
	background: url(../images/bc2_order_bg.png) right center no-repeat;
	font-weight: bold;
	color: #fff;
	padding: 0 22px 0 15px;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
}
.app_foodranking_order .bc2_Title:hover,
.app_foodranking_order .bc2_Title.cur{
	background: url(../images/bc2_title_bg.png) right center no-repeat;
}

.app_swith_local_content{
	display:none;
	position:absolute;
	left:220px;
	top:12px;
	width:510px;
	min-height:48px;
	/*background:#0068b7;*/
}
.app_swith_local_icoarrow{
	display:block;
	position:absolute;
	left:-4px;
	top:18px;
	width:5px;
	height:10px;
	background:url(../images/app-arrow.png) no-repeat 0 0;
}
.app-tl{padding-left:5px; background:url(../images/9r/tlbg.png) no-repeat 0 0; overflow:hidden;}
.app-tr{padding-right:5px; background:url(../images/9r/trbg.png) no-repeat right 0;}
.app-tc{height:5px; background:url(../images/9r/tcbg.png) repeat-x 0 0;}
.app-bl{padding-left:5px; background:url(../images/9r/blbg.png) no-repeat 0 0; overflow:hidden;}
.app-br{padding-right:5px; background:url(../images/9r/brbg.png) no-repeat right 0;}
.app-bc{height:5px; background:url(../images/9r/bcbg.png) repeat-x 0 0;}
.app-ml{padding-left:5px; background:url(../images/9r/mlbg.png) repeat-y 0 0; overflow:hidden;}
.app-mr{padding-right:5px; background:url(../images/9r/mrbg.png) repeat-y right 0;}
.app-mc{min-height:38px; background:#0068b7;}

.appLocactionSwitchcity{
	padding:0 5px; 
	font:12px/24px 'microsoft yahei'; color:#fff;
}
.appLocactionSwitchcity .active{
	color:#f6ab00;
}

.app-cicle-L,.app-cicle-R{
	display:inline-block;	
	height:16px;
	background-image:url(../images/app-bg.png);
	background-repeat:no-repeat;
}
.app-cicle-L{
	margin:4px 3px; padding-left:6px; background-position:0 0; 
	line-height:16px;
}
.app-cicle-R{
	padding-right:6px; background-position:right bottom; 
	color:#0068b7;
}

.appLocactionSwitchcity .app-inp{
	width:60px; padding:0; margin:0; border:none; background:none; 
	font:12px/16px 'simsun'; color:#0068b7;
}


.app_subbanner{
	width:980px; margin:0 auto; padding:30px 0 1px; border-bottom:1px dashed #bdbdbd;
}
.app_subhotal{
	width:980px; margin:0 auto; padding:15px 0;
	font-size:13px; line-height:30px;
	font-family: 'microsoft yahei';
	color:#727171;
}
.app_subhotal_logo{
	float:left;
}
.app_subhotal_info{
	float:left; 
	padding:5px 20px;
}
.app_subhotal_info_name{
	font-size: 16px;
}
.app_subhotal_info_type{
	color:#ee7800;
}
.app_subhotal_info_time{
	color: #e8380d;
}
.app_subhotal_func{
	float:right;
}

.app_subhotal_func_wine,
.app_subhotal_func_collect,
.app_subhotal_func_new,
.app_subhotal_func_message{
	display:inline-block; 
	min-width:65px;
	margin:3px 0 0 30px;
	padding-left:35px;
	font:13px/24px 'microsoft yahei'; color:#727171;
	background-repeat:no-repeat;
	background-position: 0 center;
	text-decoration:none;
}
.app_subhotal_func_wine{background-image:url(../images/app-ico-wine.png)}
.app_subhotal_func_collect{background-image:url(../images/app-ico-collect.png)}
.app_subhotal_func_new{background-image:url(../images/app-ico-new.png)}
.app_subhotal_func_message{background-image:url(../images/app-ico-message.png)}

.app_submain{
	min-height: 300px;
	padding-bottom:1px;
	background: #d3edfa;
	border-top: 2px solid #38a1db;
}

.app_submain_sidebar{
	float: left;
	width: 140px;
	padding:7px 20px 0 0;	
}
.app-submain-sidebar-title,
.app-submain-sidebar-menu{
	display: block;
	width: 115px;
	height:30px;
	margin-bottom: 10px;
	padding-left:25px;
	background:url(../images/app-submain-sidebar-titlebg.png) no-repeat 0 0;
	font:bold 16px/30px 'microsoft yahei';
	color:#fff;
}
.app-submain-sidebar-menu{
	background:url(../images/app-submain-sidebar-menubg.png) no-repeat 0 0;
	font-weight: normal;
	font-size: 13px;
	text-decoration: none;
}
.app-submain-sidebar-menu:hover{
	background:url(../images/app-submain-sidebar-menuhovbg.png) no-repeat 0 0;
}

.app_submain_content{
	float: left;
	width: 615px;
	padding-bottom: 30px;
	background:#f6fbff;
}
.app_submain_list_head{
	height:30px;
}

.app_submain_list_menuname,
.app_submain_list_salenum,
.app_submain_list_grade,
.app_submain_list_price,
.app_submain_list_total{
	display:block;
	float:left;
	margin:0 20px;
	font-size: 12px;
	line-height: 30px;
	text-align:left;
	cursor:default;
	height:100%;
}

.app_submain_list_menuname{
	padding-left: 25px;
	width: 180px;
	text-align: left;
}
.app_submain_list_salenum{
	width: 100px;
}
.app_submain_list_grade{
	width: 75px;
}
.app_submain_list_price{
	width: 75px;
}

.app_submain_right{
	float: right;
	width: 210px;
	padding:7px 10px 0 0;
}

.app_submain_list_head .app_submain_list_salenum,
.app_submain_list_head .app_submain_list_grade,
.app_submain_list_head .app_submain_list_price{
	padding-left: 10px;
}
.app_submain_list_head .app_submain_list_salenum{
	width: 90px;
}
.app_submain_list_head .app_submain_list_grade{
	width: 65px;
}
.app_submain_list_head .app_submain_list_price{
	width: 65px;
}

.app_submain_list_content{border-top: 1px dashed #b1b3b5;}
.app_submain_list_content .app_submain_list_menuname{
	position:relative;
	background: url(../images/app-ico-recommend.png) no-repeat 0 6px;
	cursor:default;
}
.app_submain_list_content .app_submain_list_grade{
	padding-left: 25px;
	cursor: pointer;
	width: 40px;
	background: url(../images/app-ico-grade.png) no-repeat 0 6px;
}
.app_submain_list_content .gjob {
	background: url(../images/app-ico-grade2.png) no-repeat 0 6px;
	color: #c10262;
}
.app_submain_list_content .app_submain_list_price{
	color:#e8380d;
}
.app_submain_list_content .app_submain_list_price .addnums{
	float: right;
	margin-top: 7px;
	width:15px;
	height: 15px;
	background: url(../images/app-ico-add.png) no-repeat 0 0;
	cursor: pointer;
}
.app_submain_hotalimg{
	display:none;
	position: absolute;
	top:-21px;
	right:-10px;
}

.app_submain_hotalnotice{
	padding-left:12px; height:26px; background:#c20262; margin-bottom:10px;
	font:bold 13px/26px 'microsoft yahei'; color:#fff;
}

.contents{ font-weight:100; font-size:12px; line-height:20px; width:90%; margin:auto;}

.app_submain_myorder_title{
	padding-left: 62px;
	height: 32px; background: #3c3c3b url(../images/app-ico-shopping.png) no-repeat 0 0;
	font:bold 14px/32px 'microsoft yahei'; color:#fff;
}
.app_submain_myorder_content{
	background: #eaf6fd; margin-bottom:12px;	
}
.app_submain_myorder_content>ul{
	padding:15px 0;
}
.app_submain_myorder_content>ul>li{
	float:left;
	width:190px; height: 22px; padding:0 10px; border-bottom:1px dashed #b7c0c6;
}
.myorderminus,
.myorderplus{
	float: left;
	width:12px; height:12px; margin:5px 0 ;
	background-image: url(../images/app-ico-order.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.myorderminus{background-position: 0 0; margin-right:5px;}
.myorderplus{background-position: right 0;}
.myordername{
	float: left;
	width:60px; height:22px; margin-right:5px;
	font:12px/22px 'microsoft yahei'; color:#706f6f;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.myordernums{
	float: left;
	width:14px; height:14px; margin:3px 10px 0 0; padding:0; border:1px solid #98a1a7; background:#e1f2fc;
	font:12px/14px Arial; color:#666;
	text-align:center;
}
.myorderunitprice{
	float:left;
	min-width: 60px; height: 22px; margin-right:5px;
	font:12px/22px 'microsoft yahei'; color:#c20262;
}


.app_submain_myorder_content>.myorderinall{
	float:right; padding-right: 20px;
	font:12px/24px 'microsoft yahei'; color:#c20262;
}

.app_submain_myorder .pay,
.app_submain_myorder .empty{
	width: 100px;	height: 26px;	margin:0;	padding:0; border:none;
	font:14px/26px 'microsoft yahei'; color:#fff;
	cursor:pointer;
}
.app_submain_myorder .pay{background: #c10262;}
.app_submain_myorder .empty{background: #206bab;}

.app_submain_pay{
	background: #ececeb;
}

.app_submain_pay .app_submain_content{
	width:575px; padding:30px 20px;
	background:#fff;
}

.app_submain_pay .payprice{
	padding-bottom:15px;
	font-size:12px; color:#727171;
}
.app_submain_pay .payprice>span{
	color:#ee7800
}

.app_submain_pay .paymethod{
	position:relative;
	padding:15px;
	border:1px solid #e3e3e3; background:#f7f7f7;
	border-radius:5px;
}
.app_submain_pay .paymethod>h3{
	font-size:14px; color:#676767;
	margin-top:5px; margin-bottom:10px;
}

.app_submain_pay .paymethodcell{
	display:block; float:left;
	height:40px; margin-right:30px; margin-bottom:5px;
	line-height:40px; vertical-align:middle;
}
.app_submain_pay .paymethodradio{
	 float:left; display:inline-block; height:40px;	cursor:default;
}
.app_submain_pay .paymethodico{
	 float:left; display:inline-block;
	width:128px; height:38px; border:1px solid #e7e7e7; 
	background:#fff url(../images/pay/paymethod-ico01.gif) no-repeat center center;
}
.app_submain_pay .bank-bocm{background-image: url(../images/pay/bank-bocm.gif)}
.app_submain_pay .bank-icbc{background-image: url(../images/pay/bank-icbc.gif)}
.app_submain_pay .bank-ccb{background-image: url(../images/pay/bank-ccb.gif)}

.app_submain_pay .bank-aboc{background-image: url(../images/pay/bank-aboc.gif)}
.app_submain_pay .bank-cmb{background-image: url(../images/pay/bank-cmb.gif)}
.app_submain_pay .bank-boc{background-image: url(../images/pay/bank-boc.gif)}

.app_submain_pay .bank-psbc{background-image: url(../images/pay/bank-psbc.gif)}
.app_submain_pay .bank-cib{background-image: url(../images/pay/bank-cib.gif)}
.app_submain_pay .bank-szpab{background-image: url(../images/pay/bank-szpab.gif)}

.app_submain_pay .bank-cgb{background-image: url(../images/pay/bank-cgb.gif)}
.app_submain_pay .bank-citic{background-image: url(../images/pay/bank-citic.gif)}
.app_submain_pay .bank-cmbc{background-image: url(../images/pay/bank-cmbc.gif)}

.app_submain_pay .paymethod .btn-pay{
	position:absolute; right:0; bottom:-50px;
	width:100px; height:40px; padding:0; margin:0; border:none; background:#ff8901; border-radius:5px;
	font:bold 16px/40px 'simsun'; color:#fff; text-align:center;
	cursor:pointer;
}

.app_submain_pay .paytips{
	margin-top:25px;
	padding:0 20px;
	font:12px/20px 'microsoft yahei'; color:#727171;
}

.app_submain_pay .paytips>.title{
	display:block; padding-bottom:8px;
	font-size: 14px;
	color:#e8380d;
}



.app_submain_order{
	background: #ececeb;
}

.app_submain_order .app_submain_content{	
	min-height:500px;
	background:#fff;
}
.app_submain_order .ordertitle{
	height:65px;
	background:url(../images/app-ico-logo.png) no-repeat 15px 5px;
}
.app_submain_order .ordertitle>.orderprogress{
	float:right; position:relative;
	width:252px; height:13px; margin:32px 50px 0 0;
	background:url(../images/app-ico-progress.png) no-repeat 0 0;
}

.app_submain_order .ordertitle>.orderprogress>em{
	position:absolute;top:-18px;
	font-size:12px; font-family:'microsoft yahei';
	color:#717071;
}
.app_submain_order .ordertitle>.orderprogress>.pos1{
	left:-18px;
}
.app_submain_order .ordertitle>.orderprogress>.pos2{
	left:103px;
}
.app_submain_order .ordertitle>.orderprogress>.pos3{
	right:-18px;
}

.app_submain_order .orderlist{
	background: #bae3f9;
}

.app_submain_order .orderlist .orderlist-head{
	height: 35px; padding:0 15px;
}

.app_submain_order .orderlist .orderlist-foot{
	height: 30px; padding:0 15px;
}
.orderlist-head .app_submain_list_menuname, .orderlist-foot .app_submain_list_menuname,
.orderlist-head .app_submain_list_salenum, .orderlist-foot .app_submain_list_salenum,
.orderlist-head .app_submain_list_price, .orderlist-foot .app_submain_list_price,
.orderlist-head .app_submain_list_total, .orderlist-foot .app_submain_list_total{
	height:100%;
	line-height:35px;
	font-size:14px;
	color:#37444a;
	margin:0 10px;	
	width:65px;
	padding:0;
	text-align:center;
}
.orderlist-foot .app_submain_list_menuname,
.orderlist-foot .app_submain_list_salenum,
.orderlist-foot .app_submain_list_price,
.orderlist-foot .app_submain_list_total{
	height:30px;
	line-height:30px;
	font-size:12px;
}
.orderlist-foot .app_submain_list_menuname{
	padding-left:0;
	width:310px;
	text-align:left;
}
.app_submain_list_menuname>a{
	text-decoration:none;
	color:#37444a;
}
.app_submain_list_menuname>a:hover{
	text-decoration:underline;
}
.orderlist-foot .app_submain_list_salenum{
  margin:0; width:85px; text-align:right;
}
.orderlist-foot .app_submain_list_total{
	margin:0; width:85px; 
}
.orderlist-head .app_submain_list_menuname{
	padding-left:10px;
	width:300px;
	text-align:left;
}
.orderlist-ul{
	padding:0 15px;
	background:#005090;
}


.orderlist-ul .app_submain_list_content:first-child{
	border-top:none;
}

.orderlist-ul .app_submain_list_content.orderlist-ul-li-end{
	border-top:1px solid #b1b3b5;
}

.orderlist-ul .app_submain_list_content .app_submain_list_menuname,
.orderlist-ul .app_submain_list_content .app_submain_list_salenum,
.orderlist-ul .app_submain_list_content .app_submain_list_price,
.orderlist-ul .app_submain_list_content .app_submain_list_total{
	color:#ffffff;
	margin:0 10px;
	width:65px;
	padding:0;
	text-align:center;
}

.orderlist-ul .app_submain_list_content .app_submain_list_menuname{
	background:none;
	padding-left:0px;
	width:310px;
	text-align:left;
}

.orderlist-ul .app_submain_list_content .app_submain_list_salenum>span{
	float:left;
	display:block; margin:7px;
	height:14px; line-height:14px; border:1px solid #fff; text-align:center;
}
.orderlist-minus,
.orderlist-plus{
	display:inline-block;
	float:left;
	width:12px;
}
.orderlist-minus{border-right:1px solid #fff;}
.orderlist-plus{border-left:1px solid #fff;}
.orderlist-input{
	float:left;
	display:inline-block; width:22px; height:14px;
	padding:0; margin:0; border:none; background:none; 
	font:12px/14px 'microsoft yahei'; color:#fff; text-align:center;
}

.app_submain_order .orderform{
	height:32px; font:12px/32px 'microsoft yahei'; color:#717071;
}
.app_submain_order .orderform .orderform-btn{
	float:right;
	margin:5px 20px; padding:0 10px; border:none; background:#e93956;
	height:22px; font:14px/22px 'microsoft yahei'; color:#fff;
	cursor:pointer;
}

.orderformcell{
	height:16px; margin:0 20px 10px; padding:0 0 0 16px; 
	background:url(../images/app-ico-circle.png) no-repeat 0 1px;
	font:12px/16px 'microsoft yahei'; color:#717071;	
}

.orderformcell>label{
	float:left;
}
.orderformcell>input[type="password"],
.orderformcell>input[type="text"]{
	float:left;
	width:140px; height:16px; padding:0 5px; margin:0 10px 0 0; border:none; background:#9e9e9f;
	font:12px/16px 'microsoft yahei'; color:#fff;
}
.orderformcell>span>input[type="radio"]{
	height:16px; margin:0 3px 0 5px; padding:0; line-height:16px; vertical-align:middle; cursor:default;
}

.orderformcell-title{
	position:relative;
	margin:5px 20px 20px 0; height:14px;
	border-bottom:1px dashed #b4b4b5;
}
.orderformcell-title>span{
	position:absolute; top:1px; left:0; 
}
.orderformcell-title-tips{
	display:inline-block; padding-right:18px;
	width:100px; height:26px; background:#fff url(../images/order-title-bg.png) no-repeat 0 0;
	font:14px/26px 'microsoft yahei'; color:#fff; text-align:center;
}
.orderform .orderformcell-title-tips{
	margin:3px 30px 3px 0;
}

.orderformcell-textarea{
	margin:0 20px 10px 15px;
}
.orderformcell-textarea>h5{font:normal 12px/24px 'microsoft yahei'; color:#717071;}
.orderformcell-textarea>textarea{
	width:570px; height:60px;margin:0; padding:4px; border:1px solid #717071;
	font:12px/18px 'microsoft yahei'; color:#717071;
	overflow:auto;
	resize:none;
}

.app_personal_banner{padding:10px 0 20px; text-align:center;}
.app_personal_sidebar{
	float:left; width:180px; padding-bottom:20px;
}

.app_personal_sidebar .sidebartitle{
	width:100px; height:26px; 
	padding:0 8px; margin-bottom:10px; background:url(../images/app-personal-bg1.png) no-repeat right 0;
	font:bold 14px/26px 'microsoft yahei'; color:#fff;
}
.app_personal_sidebar .sidebartitle.gray{
	background:url(../images/app-personal-bg1_gray.png) no-repeat right 0;
}
.app_personal_sidebar .sidebartitle>span{
	display:inline-block; padding-left:20px; background:url(../images/app-personal-ico00.png) no-repeat 0 center;
}
.app_personal_sidebar .personalcenter-sidenav{
	width:116px;
}
.app_personal_sidebar .personalcenter-sidenav>li{
	width:100px; min-height:26px;
	padding:0 8px; margin-top:5px; background:url(../images/app-personal-bg2.png) no-repeat right 0;
}
.app_personal_sidebar .personalcenter-sidenav>li.gray{
	background:url(../images/app-personal-bg2_gray.png) no-repeat right 0;
}

.app_personal_sidebar .personalcenter-sidenav .sidenav-first{
	padding-left:20px; font:14px/26px 'microsoft yahei'; color:#fff;
	background-repeat: no-repeat;
	background-position: 0 center;
}
.app_personal_sidebar .personalcenter-sidenav .sidenav-second{
	margin-top:3px;
}
.app_personal_sidebar .personalcenter-sidenav .sidenav-second>a{
	display:block; padding-left:20px; background-repeat:no-repeat; background-position:2px center;
	font-size:12px; line-height:18px; color:#595758; 
	text-decoration:none;
}
.sidenav-ico01{background-image: url(../images/app-personal-ico01.png);}
.sidenav-ico02{background-image: url(../images/app-personal-ico02.png);}
.sidenav-ico03{background-image: url(../images/app-personal-ico03.png);}
.sidenav-ico04{background-image: url(../images/app-personal-ico04.png);}

.app_personal_sidebar .personalcenter-sidenav .sidenav-second>a.cur,
.app_personal_sidebar .personalcenter-sidenav .sidenav-second>a:hover{color:#3798cd}
.sidenav-second-01.ico01{background-image:url(../images/app-personal-icon01.png);}
.sidenav-second-01.ico01.cur,
.sidenav-second-01.ico01:hover{background-image:url(../images/app-personal-icon01hov.png);}
.sidenav-second-01.ico02{background-image:url(../images/app-personal-icon02.png);}
.sidenav-second-01.ico02.cur,
.sidenav-second-01.ico02:hover{background-image:url(../images/app-personal-icon02hov.png);}
.sidenav-second-02.ico01{background-image:url(../images/app-personal-icon03.png);}
.sidenav-second-02.ico01.cur,
.sidenav-second-02.ico01:hover{background-image:url(../images/app-personal-icon03hov.png);}
.sidenav-second-02.ico02{background-image:url(../images/app-personal-icon04.png);}
.sidenav-second-02.ico02.cur,
.sidenav-second-02.ico02:hover{background-image:url(../images/app-personal-icon04hov.png);}
.sidenav-second-03.ico01{background-image:url(../images/app-personal-icon05.png);}
.sidenav-second-03.ico01.cur,
.sidenav-second-03.ico01:hover{background-image:url(../images/app-personal-icon05hov.png);}
.sidenav-second-03.ico02{background-image:url(../images/app-personal-icon06.png);}
.sidenav-second-03.ico02.cur,
.sidenav-second-03.ico02:hover{background-image:url(../images/app-personal-icon06hov.png);}
.sidenav-second-03.ico03{background-image:url(../images/app-personal-icon07.png);}
.sidenav-second-03.ico03.cur,
.sidenav-second-03.ico03:hover{background-image:url(../images/app-personal-icon07hov.png);}
.sidenav-second-04.ico01{background-image:url(../images/app-personal-icon08.png);}
.sidenav-second-04.ico01.cur,
.sidenav-second-04.ico01:hover{background-image:url(../images/app-personal-icon08hov.png);}
.sidenav-second-04.ico02{background-image:url(../images/app-personal-icon09.png);}
.sidenav-second-04.ico02.cur,
.sidenav-second-04.ico02:hover{background-image:url(../images/app-personal-icon09hov.png);}
.app_personal_sidebar .personalcenter-sidenav .sidenav-second>a.sidenav-second-03.ico03{background-position:0 center;}
.hottips{display:inline-block; padding:0 2px; margin-left:2px; background:#e71f1b; font-size:12px; line-height:14px; color:#fff;}


.app_personalcenter_main{
	float:left; width:812px; min-height:350px; padding:0 0 35px;
}
.maintitle,
.app_personalcenter_main .maintitle{
	height:26px; background:#1d6cae; padding-left:20px; margin-bottom:5px;
	font:bold 14px/26px 'microsoft yahei'; color:#fff;
}
.app_personalcenter_main .app-accountbg01{
	padding-bottom:10px; background:url(../images/app-account-bg01.png) repeat-x 0 bottom;
}
.app_personalcenter_main .accountstatus{
	padding:10px 20px; background:#e6e4e5;
}

.app_personalcenter_main .accountstatus .col-left{
	float:left; 
	width:300px;
	padding-right:20px;
}
.app_personalcenter_main .accountstatus .avatar{
	float:left;
	width:60px; height:60px; margin-right:10px;
	background:#d2d3d5 url(../images/app-account-ico01.png) no-repeat center center; border-radius:5px;
	cursor:pointer;
}
.accountstatus .safety-level-wrapper{
	float:left;
	width:200px;
}
.accountstatus .safety-level-wrapper h5{
 	font-size:14px;
 	color:#595758;
 	margin-top:5px;
 	margin-bottom:20px;
}
.accountstatus .safety-level-wrapper p{
	font-size:12px; color:#595758;
} 
.accountstatus .safety-level-wrapper .user-safety-level{
	display:inline-block;
	padding-left:100px;
	height:12px; line-height:12px;
	background:url(../images/app-account-ico02.png) no-repeat 0 center;
	text-decoration:none;
}
.accountstatus .safety-level-wrapper .user-safety-level:hover{
	text-decoration:underline;
}
.accountstatus .safety-level-wrapper .user-safety-level.low{
	color:#595758;
}

.app_personalcenter_main .accountstatus .col-right{
	float:left;
}

.app_personalcenter_main .accountstatus .account-balance{
	margin-bottom:5px;
	font-size:24px;
	color:#216cad;
}
.app_personalcenter_main .accountstatus .account-balance>span{
	display:inline-block;
	width:70px;
	text-align:right;
	font-size:14px
}
.app_personalcenter_main .accountstatus .related-info>li{
	float:left;
	width:300px; margin:8px 20px 0 0;
	font:12px/14px 'microsoft yahei'; color:#595758;
}
.app_personalcenter_main .accountstatus .related-info>li:first-child{
	width:640px;
}
.app_personalcenter_main .accountstatus .related-info>li>a{
	text-decoration:none;
	color:#595758;
}
.app_personalcenter_main .accountstatus .related-info>li>i{
	float:left; display:inline-block; line-height:14px;
	width:14px; height:14px; margin-right:5px;
	background-repeat:no-repeat;
	background-position: center center;
}
.related-info .icon-point,
.related-info .icon-order{background-image:url(../images/app-account-ico03.png)}
.related-info .icon-star{background-image:url(../images/app-account-ico04.png)}

.app_personalcenter_main .latest-orders-title{
	display:inline-block; width:115px; height:26px; padding:0 15px; margin-right:20px;
	background:url(../images/app-personal-bg2.png) no-repeat 0 0;
	font:14px/26px 'microsoft yahei'; color:#fff;
} 

.app_personalcenter_main .latest-orders-title.gray{
	background-image:url(../images/app-personal-bg2_gray.png)
}

.app_personalcenter_main .latest-orders-cell{
	width:145px; min-height:70px; background:#e6e4e5;
}

.app_personalcenter_main .latest-orders-cell>h6{
	height:25px; background:#a0a0a0; 
	font:14px/25px 'microsoft yahei'; color:#fff; text-align:center;
}

.app_personalcenter_main .latest-orders-cell>p{
	margin-top:10px;
	font:12px/20px 'microsoft yahei'; color:#727171; text-align:center;
}

.app_personalcenter_main .latest-orders-cell>p>.icon-order{
	display:inline-block; padding-left:18px;  
	background:url(../images/app-account-ico05.png) no-repeat 0 center;
	text-decoration:none;
	color:#727171;
}

.topbar-user-dropdown{
	display:none;
	position:absolute; top:22px; left:50%;
	width:111px; padding-top:10px; margin-left:-55px; background:url(../images/app-topdropdown-tbg.png) no-repeat 0 0;
}
.topbar-user-dropdown-content{
	width:111px; min-height:90px; background:#145385 url(../images/app-topdropdown-cbg.png) no-repeat 0 0;
}
.topbar-user-dropdown-content>li{
	margin:0 1px; height:20px; border-bottom:1px solid #d5c4b3;
	font:12px/20px 'microsoft yahei'; color:#fff;
	text-align:center;
}
.topbar-user-dropdown-content>li.end{
	border-bottom:0;
}
.topbar-user-dropdown-content>li>a{
	display:inline-block;
	color:#fff;
	text-decoration:none;
}
.topbar-user-dropdown-content>li:hover{
	border-bottom:1px solid #9c7653;
}
.topbar-user-dropdown-content>li.end:hover{
	border-bottom:0;
}
.topbar-user-dropdown-content>li>a:hover{
	color:#eca616;
}
.topbar-user-dropdown-bottom{
	width:111px; height:10px; background:url(../images/app-topdropdown-bbg.png) no-repeat 0 0;
}

.topbar-user-dropdown-content>li>a>i{
	float:left;
	padding-left:20px; height:20px; margin-right:7px;
	background-image:url(../images/topbar-user-dropdown-ico.png);
	background-repeat:no-repeat;
}

.topbar-user-dropdown-content>li>a>i.ico-use{background-position:0 2px;}
.topbar-user-dropdown-content>li>a:hover>i.ico-use{background-position:-24px 2px;}

.topbar-user-dropdown-content>li>a>i.ico-star{background-position:0 -18px;}
.topbar-user-dropdown-content>li>a:hover>i.ico-star{background-position:-24px -18px;}

.topbar-user-dropdown-content>li>a>i.ico-address{background-position:0 -38px;}
.topbar-user-dropdown-content>li>a:hover>i.ico-address{background-position:-24px -38px;}

.topbar-user-dropdown-content>li>a>i.ico-setting{background-position:0 -58px;}
.topbar-user-dropdown-content>li>a:hover>i.ico-setting{background-position:-24px -58px;}

.topbar-user-dropdown-content>li>a>i.ico-switch{background-position:0 -77px;}
.topbar-user-dropdown-content>li>a:hover>i.ico-switch{background-position:-24px -77px;}

.app_personalcenter_main .blockwrap{
	background:#eeefef;
	padding:10px 0 0;
	margin-bottom:20px;
}

.app_personalcenter_main .orderformcell-textarea{
	margin-left:0;
}
.app_personalcenter_main .orderformcell-textarea>textarea{
	width:780px;
}
.app-changepassword{position:relative;}
.app-changepassword .orderformcell>label{width:75px;}
.app-changepassword .orderformcell>input[type="text"],
.app-changepassword .orderformcell>input[type="password"]{
	width:220px; background:#fff; color:#9e9e9f;
}

.changepassword-btn{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 150px;
	padding:0 10px; 
	border:none; 
	background:#16a587; 
	border-radius:3px;
	height:32px; 
	font:14px/22px 'microsoft yahei';
	color:#fff;
	cursor:pointer;
}

.app_personalcenter_main .favor_tips{
	padding:5px 20px; margin-bottom:10px; font:12px/16px 'microsoft yahei'; color:#595758;
}
.app_personalcenter_main .favor_table,
.app_personalcenter_main .email_table,
.app_personalcenter_main .address_table{
	width:100%; margin-bottom:10px;
}

.app_personalcenter_main .address_table thead th,
.app_personalcenter_main .email_table thead th,
.app_personalcenter_main .favor_table thead th{
	padding:0 20px; font:12px/22px 'microsoft yahei'; color:#595758;
}

.app_personalcenter_main .address_table thead th,
.app_personalcenter_main .email_table thead th{
	background:#eeefef;
}

.app_personalcenter_main.app_personacenter_address .latest-orders-title{
	width:90px; background-position:right 0; text-indent:10px;
}
.address_table th,
.address_table td {
	white-space:nowrap;
	word-break:keep-all;
	text-align: left;
	line-height: 24px;
	border: solid 1px #DDDDDD;
}
.address_table th {
	background-color: #cdcdcd;
	color: #475356;
	line-height: 28px !important;
	font-size: 14px !important;
}
.address_table td {
	padding: 0 20px;
	font-size: 12px;
	background-color: #f8f8f8;
}
.personalcenter_tips,
.address_tips{
	font-size:12px; padding:10px 2px 5px; color:#4a4a49;
}

.app_personalcenter_main .app-invitefriend{
	padding:10px; min-height:50px; font-size:12px; color:#4a4a4a;
}

.app_foot_wrap{	
	padding:25px;
	background:#ececeb;
	font:14px/28px 'microsoft yahei'; color:#352d2b;
}

.app_foot_titleL, 
.app_foot_titleR{
	display:inline-block;
	height:32px;
	background-image:url(../images/app-foot-title.png);
	background-repeat:no-repeat;
}

.app_foot_titleL{
	padding-left:15px;
	background-position:0 0;
}
.app_foot_titleR{
	padding-right:15px;
	background-position:right -34px;
	min-width:90px;
	line-height:32px; color:#fff;
}

.app-foot-ico{
	padding-left:25px;
	background:url(../images/app-ico-circle.png) no-repeat 2px 9px;
}

.app-foot-ico.blue{
	background-image:url(../images/app-ico-circle_blue.png);
	color:#00a0e9;
}

.app_foot_tips{
	padding:10px 25px;
	background:#f6ab00;
	font:12px/20px 'microsoft yahei'; color:#fff;
}


.app_foot_dllist{
	float:left; 
	width:50%; margin-bottom:40px;
}

.app_foot_dllist>dt{
	float:left; margin:0 25px;
}
.app_foot_dllist>dd{
	float:left;
	font-size: 12px; line-height:24px;
	color:#6b6b6b;
}

.gray_inner {
	border: 10px #fff solid;
	padding: 20px;
	background-color: #e8e8e8;
}

.gi-title {
	line-height: 48px;
	font-size: 30px;
	color: #585858;
	border-bottom: solid 1px #b5b5b5;
}
.gi-title-h4 {
	margin:1px 0 0;
	background-color: #edd685;
	padding: 0 6px;
	line-height: 24px;
	color: #585858;
	font-size: 12px;
	font-weight: normal;
}
.bind-phone-table {
	vertical-align: middle;
}

.bind-phone-table th {
	padding-right: 8px;
	font-size: 20px;
	color: #585858;
	font-weight: bold;
}
.loca_pic {
	position:relative;
	z-index:1;
	background: url(../images/app-login-pic2.png) no-repeat 290px;
	height: 271px;
	margin-bottom: -62px;
}
.loca_box {
	background: url(../images/locabgpic.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 120px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 7px;
}
.loca_box .winner {
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	min-height: 120px;
}

.lcaBoxTable {
	width: 100%;
}
.lcaBoxTable .wx1 {
	width: 500px;
	padding: 22px;
}
.lcaBoxTable .wx1 input {
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: solid 1px #cfcfcf;
	border-radius:3px;
	height: 32px;
	color:#b0b0b0;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	z-index:2;
}
.lcaBoxTable .wx2 {}
.lcaBoxTable .wx2 input {
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32px;
	width: 190px;
	font-size: 16px;
	color: #fff;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	z-index:2;
	background-color: #27b098;
} 
.lcaBoxTable .wx3 {
	padding: 0 22px;
}
.wx3hotlink {
	color: #f6ab00;
	margin-right: 10px;
	text-decoration: none;
}
.wx3hotlink:hover {
	color: #000DFF;
}
.local_tip_box {
	border: solid 1px #E4C600;
	border-radius:3px;
	background:#2a71a2;
	margin-top: 20px;
	color: #fff;
}
.local_tip_box div h2,
.local_tip_box>div>h2 {
	line-height: normal;
	padding-bottom: 10px;
}
.local_tip_box div p,
.local_tip_box>div>p {
	font-size: 14px;
	line-height: normal;
}
.locaPop-wrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	text-align: center;
}
.midfix {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
	margin-right: -3px;
}
.minblock {
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
}
.searchLoca {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 360px;
	max-width: 520px;
	text-align: left;
	overflow: hidden;
}
.sl-title {
	position: relative;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #333;
	padding-left: 10px;
	border-bottom: solid 1px #999999;
}
.sl-title .closebtn {
	position: absolute;
	right: 4px;
	top: 0;
	bottom: 0;
	left: auto;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	width: 32px;
	height: 32px;
	margin: auto;
	cursor: pointer;
	font-weight: lighter;
	font-family: Arial;
}
.sl-box {
	max-height: 360px;
	overflow: auto;
}
.sl-box-list {
	overflow: hidden;
}
.sl-box-list a {
	display: block;
	padding-left: 20px;
	background:url(../images/icon_locaction2.png) 5px center  no-repeat;
	height: 28px;
	line-height: 28px;
	font-size: 12px; 
	text-decoration: none;
	color: #333;
}
.sl-box-list a:hover {
	background-color: #E5E5E5;
}
.sl-box-list a h3{
	display: inline;
}
.sl-box-list a span{
	padding-left: 10px;
}
.sl-box-list li {float: left; width: 100%;border-bottom: solid 1px #DFDFDF;}
.sl-box-bottom {
	font-size: 14px;
	padding:4px 10px;
	line-height: 1.5;
	background-color: #D1D1D1;
}
.applog-error {
	line-height: 24px;
	font-size: 12px;
	color: #D40003;
}
.appsubbox {padding: 5px 10px 0 10px;}
.appsubAddres {display: table; width: 100%; border-collapse:collapse; font-size: 12px;}
.appsubAddres .row {display: table-row; cursor:pointer;}
.appsubAddres .cell {display: table-cell; padding: 10px; color: #989898}
.appsubAddres .cur,
.appsubAddres .row:hover{background:#48bdee;} 
.appsubAddres .cur .cell {border:solid 1px #147ad9; border-style:solid none; color: #000;}
.appsubAddres .cur .cell:first-child {  border-style:solid none solid solid ;}
.appsubAddres .cur .cell:last-child {  border-style:solid solid solid none;}
.appsubbox .addNewAddres {
	display:block;
	line-height: 30px;
	color: #939393;
	font-size: 12px;
	text-align: center;
	border:dashed 1px #939393;
	margin-top: 10px;
	min-width: 200px;
	border-radius:4px;
	cursor: pointer;
}
.appsubbox .addNewAddres:hover {
	background-color: #fff;
	color: #000;
}
.payment {
	padding-top: 10px;
	font-size: 12px;
}
.payment th {padding-right: 4px;}
.payment td {padding-right: 20px;}
.asa_edit,
.asa_del {text-decoration: none;}
.asa_edit { margin-right: 20px;}
.payment-title {
	padding-top: 10px;
	font-size: 16px;
	line-height: 1.8;
}
.payment-detail table {width: 100%;line-height: 28px; }
.payment-detail th,
.payment-detail td {
	padding:2px 8px;
}
.payment-detail thead th {white-space: nowrap; word-break:keep-all; font-weight: bold;}
.payment-detail thead th:last-child,
.payment-detail tbody td:last-child {text-align: right;}
.payment-detail thead tr {border: solid 1px #AAAAAA; border-bottom: none;}
.payment-detail thead th {background:#F9F9F9}
.payment-detail tbody tr {border: solid 1px #AAAAAA;}
.payment-detail tbody td {background-color: #fff;}

.payment-events {text-align: right;padding: 10px 0;}
.payment-events .backtoEdit {padding-right: 10px; color: #DFB400; text-decoration: none; vertical-align: middle; font-size: 12px;}
.payment-events input {
	vertical-align: middle;
	font-size: 12px;
	background-color: #1ca587;
	height: 32px;
	color: #fff;
	border:0;
	cursor: pointer;
	padding: 0 32px;
	border-radius:2px;
}
.comm_t {font-size: 12px;line-height: 16px;}
.comm_t span {margin-right: 10px; vertical-align:middle}
.comm_text {
	font-size: 12px;
	color: #6A6A6A;
	line-height: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.commmentList {overflow: hidden;}
.commmentList .list {
	margin: 10px;
	padding: 5px;
	background:#fff;
	border: solid 1px #84bcdd;
}
.comm_paginaction {
	text-align: right;
	padding: 0 8px 10px 8px;
}
.comm_paginaction .cpc {
	display: inline-block;
	font-size: 12px;
	padding: 0 10px;
	line-height: 24px;
	margin: 0 2px;
	cursor: pointer;
	
}
.comm_paginaction .cpc_1 {
	color: #fff;
	background-color: #f6ab00;
}
.comm_paginaction .cpc_2 {
	color: #fff;
	background-color: #1d71b7;
}

.comm_push {padding: 0 10px;}
.comm_push table {width: 100%;}
.comm_push td {
	padding: 0 10px;
	vertical-align: top;
	line-height: 30px;
	font-size: 12px;
	word-break:keep-all;
	white-space:nowrap;
}
.comm_push textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	resize:none;
}
.comm_push .cpr {
	text-align: right;	
	padding-bottom: 20px;  
}
.comm_push .cpr input {
	border:0;
	color: #fff;
	background:#39a1db;
	padding:0 20px;
	font-size: 12px;
	height: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.account-list-mgr {
	
}
.account-list-mgr table {
	width: 100%;
	border-collapse:collapse;
}
.account-list-mgr td {
	text-align: center;
	line-height: 32px;
	font-size: 12px;
	color: #5C5C5C;
	border:solid 1px #B3B3B3;
	border-style:solid none;
}
.account-list-detail .tbw {width: 100%;}
.account-list-detail .tbw-l {width: 10%;vertical-align: top; padding-right: 20px;}
.account-list-detail .tbw-r {width: 90%;vertical-align: top;}
.tbw-list-detail .tdwin {width: 100%; font-size: 12px;line-height: 24px;}
.tbw-list-detail .thwin {white-space:nowrap; width:1%; padding-right: 10px; word-break:keep-all;}

.tbw-list-detail2 .tdwin {width: 100%; font-size: 12px;line-height: 24px; }
.tbw-list-detail2 .tdcss1 {padding: 0 10px;}
.tbw-list-detail2 {border:solid 1px #D0D0D0}
.tbw-list-detail2 thead .tdcss1 {
	font-size: 14px;
	background:#eee;
	border-bottom:solid 1px #D0D0D0
}
.contbar {background:#F0F0F0; text-align: right;padding: 6px;}
.contbar input.yes,
.contbar input.no {
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 0;
	min-width: 80px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
	font-size: 12px;
	color: #fff;
	margin-left: 6px;
	cursor: pointer;
	border-radius:2px;
	font-family: "Helvetica Neue",\5FAE\8F6F\96C5\9ED1,Tohoma;
}
.contbar input.yes {background-color: #1ca587;}
.contbar input.no {background-color: #8E8E8E;}

.changeLoal {margin: 0 auto;}
.changeLoal th,
.changeLoal td {
	font-size: 14px;
	line-height: 28px;
	word-break:keep-all;
	white-space:nowrap;
	padding: 4px 0;
}

.changeLoal th {padding: 0 10px;}
.changeLoal td {}
.changeLoal input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 28px;
	padding: 0 10px;
	border-radius:3px;
	border:solid 1px #D7D7D7;
}
.smail {
	width: 32px;
	height: 32px;
	line-height: 32px;
	background:#00860B;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border-radius:50px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	float: left;
	margin-right: 10px;
}